@charset "UTF-8";

/* Font Material icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

/* Font Raleway */
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Font NanumBarunGothic */
@font-face {
    font-family: "나눔바른고딕";
    src: url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "나눔바른고딕";
    src: url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "나눔바른고딕";
    src: url('../fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "나눔바른고딕";
    src: url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-weight: bold;
}

/* Material icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.font-100 {
    font-weight: 100 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-normal {
    font-weight: normal !important;
}

.font-bold {
    font-weight: bold !important;
}

.font-semibold {
    font-weight: 700 !important;
}