@charset "UTF-8";

/* light background */
html {
    background: #f8faff;
}

/* header */
header {
    position: absolute;
    height: 80px;
    z-index: 100;
}

.header-scrolled {
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    animation: topZero 0.4s;
}

@keyframes topZero {
    0% {
        top: -30px;
    }

    100% {
        top: 0;
    }
}

nav {
    position: relative;
}

.logo {
    width: 225px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo a {
    color: #222;
    font-size: 25px;
    text-decoration: none;
}

/* Navigation */
.nav-bar {
    position: relative;
}

nav > .nav-bar:nth-of-type(2) {
    top: 0;
    left: 0;
    transform: translateY(0);
    height: 80px;
}

.nav-item {
    float: left;
    line-height: 80px;
    text-align: center;
    padding: 0 15px;
}

.nav-bar > .nav-item:nth-of-type(3) {
    padding-right: 0;
}

.nav-item a {
    color: #444;
    font-size: 16px;
    text-decoration: none;
}

.nav-item i {
    color: #444;
    font-size: 40px;
    line-height: 80px;
}

.nav-btn {
    border: none;
    border-radius: 50px;
    padding: 10px 28px;
    color: #fefefe !important;
    background-color: #1580e5;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,.25);
    transition: .4s;
}

.nav-btn:hover {
    background-color: #1560c5;
    box-shadow: 0 4px 15px 0px rgba(0,0,0,.25);
}

/* menu-icon */
.menu-bar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-icon {
	margin-top: 30px;
	width: 30px;
	height: 20px;
}

.menu-icon > div {
	width: 30px;
	height: 20px;
	position: relative;
}

.menu-icon > div > div {
	width: 30px;
	height: 1px;
	position: absolute;
    background: #222;
    transition: .4s all;
}
.menu-icon > div > div:nth-of-type(1) {
    top: 0;
}

.menu-icon > div > div:nth-of-type(2), .menu-icon > div > div:nth-of-type(3) {
	top: 50%;
	transform: translateY(-50%);
}

.menu-icon > div > div:nth-of-type(4) {
    bottom: 0;
    padding-bottom: 0;
}

.menu-icon-clicked > div > div:nth-of-type(1), .menu-icon-clicked > div > div:nth-of-type(4) {
    display: none;
}

.menu-icon-clicked > div > div:nth-of-type(2) {
    transform: rotate(45deg);
}

.menu-icon-clicked > div > div:nth-of-type(3) {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .header-clean {
        background: none !important;
        box-shadow: none !important;
    }

    #main {
        clear: both;
    }

    .nav-bar {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;        
        padding-left: 15px;
        padding-right: 15px;        
    }

    nav > .nav-bar:nth-of-type(1) {
        display: none;
        padding-top: 80px;
        background: #fff;
    }

    .nav-bar > .nav-item {
        width: 100%;
        height: 80px;
        background: #fff;
    }

    .nav-bar > .nav-item:nth-of-type(3) {
        padding-right: 15px;
    }

    .nav-bar > .nav-item > .nav-btn {
        background: none;
        box-shadow: none;
    }

    .nav-btn {
        color: #444 !important;
    }
    
    .menu-bar {
        display: inline;
    }
}

/* Main */
#main {
    position: relative;
    background: #fff;
    overflow: hidden;
}

.main-text {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 80px;
    line-height: 95px;
    z-index: 50;
}

.main-text span {
    font-weight: 300;
    color: #333;
}

.main-text p {
    float: left;
    width: 500px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 28px;
    color: #666;
}

.main-text a {
    margin-top: 30px;
    float: left;
    font-size: 20px;
    line-height: 25px;
    color: #1560c5;
    text-decoration: none;
    cursor: pointer;
}

.main-text i {
    vertical-align: -5px;
}

.main-btn {
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fefefe !important;
    background-color: #1580e5;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,.25);
    transition: .4s;
    padding: 12px 80px;
    margin-top: 30px;
}

.main-btn:hover {
    background-color: #1560c5;
    box-shadow: 0 4px 15px 0px rgba(0,0,0,.25);
}


.circle {
    position: absolute;
    bottom: 15%;
    transform: translateY(50%);
    right: -15%;
    width: 50vw;
    height: 50vw;
    background: #1580e5;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.circle2 {
    position: absolute;
    bottom: 25%;
    transform: translateY(50%);
    right: 40%;
    width: 10vw;
    height: 10vw;
    background: #0d72d1;
    border-radius: 50%;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.3);
    animation: floating 5s infinite;
}

.circle3 {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 15%;
    width: 15vw;
    height: 15vw;
    background: #0463bb;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.3);
    animation: floating2 7s infinite;
}

.circle4 {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 40%;
    width: 3vw;
    height: 3vw;
    background: hsl(209, 72%, 55%);
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.3);
    animation: floating3 3s infinite;
}

@keyframes floating {
    0% {
        transform: translateY(50%);
    }

    30% {
        transform: translateY(42%);
    }

    100% {
        transform: translateY(50%);
    }
}

@keyframes floating2 {
    0% {
        transform: translateY(50%);
    }

    40% {
        transform: translateY(42%);
    }

    100% {
        transform: translateY(50%);
    }
}

@keyframes floating3 {
    0% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 480px) {
    .main-text {
        font-size: 50px !important;
        line-height: 55px;
    }

    .main-text p {
        width: 100% !important;
    }

    .main-text a {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 768px) {
    .circle, .circle2, .circle3, .circle4 {
        display: none;
    }

    .main-text {
        width: 100%;
        font-size: 60px;
        line-height: 70px;
    }

    .main-text p {
        width: 450px;
        font-size: 16px;
        line-height: 25px;
    }
}

/* Login, Join */
#login, #join {
    padding-top: 100px;
    margin-bottom: 20px;
}

.login-wrap {
    height: 420px;
    background: #fff;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,.25);
}

.join-wrap {
    height: 530px;
    background: #fff;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,.25);
}

.login-wrap > .container-wrap, .join-wrap > .container-wrap {
    padding: 10px;
    padding-top: 20px;
}

.login-text1 {
    text-align: center;
    font-size: 30px;
}

.login-form {
    margin-top: 50px;
}

.form-group {
    margin-top: 30px;
}

.login-input {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: .3rem;
    padding: 10px;
    outline: none;
    transition: .6s;
}

.login-input:focus {
    border: 1px solid #0d72d1;
}

.auto-login {
    margin-top: 30px;
    border: 1px solid #ccc;
    transition: .6s;
}

.auto-login:focus {
    border: 1px solid #0d72d1;
}

.auto-login-text {
    margin-left: 5px;
    font-size: 14px;
    color: #999;
}

.forget-password a {
    font-size: 14px;
    color: #999;    
}

.link-text {
    width: 100%;
    font-size: 14px;
    color: #1580e5;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
    #login, #join {
        padding-top: 100px;
    }

    .login-wrap {
        height: 450px;
    }

    .join-wrap {
        height: 550px;
    }

    .login-wrap > .container-wrap, .join-wrap > .container-wrap {
        padding: 20px;
        padding-top: 40px;        
    }   
}

@media screen and (min-width: 768px) {
    .login-wrap {
        height: 480px;
    }

    .join-wrap {
        height: 580px;
    }

    .login-wrap > .container-wrap, .join-wrap > .container-wrap {
        padding: 40px;
    }
    
    .link-text {
        margin-top: 30px;
    }
}

@media screen and (min-width: 992px) {
    .join-wrap {
        height: 600px;
    }

    .login-wrap > .container-wrap, .join-wrap > .container-wrap {
        padding: 50px;
    }   
}

@media screen and (min-width: 992px) {
    .login-wrap > .container-wrap, .join-wrap > .container-wrap {
        padding: 60px;
    }   
}