<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midasit.challenge.web.coupon.mapper.CouponMapper">
    <select id="list" resultType="com.midasit.challenge.web.coupon.domain.Coupon">
        select coupon_id, name, start_date, end_date, discount
        from coupon
        WHERE now() > end_date order by coupon_id desc
    </select>

    <select id="view" parameterType="com.midasit.challenge.web.coupon.domain.Coupon" resultType="com.midasit.challenge.web.coupon.domain.Coupon">
        select coupon_id, name, start_date, end_date, discount
        from coupon
        where coupon_id=#{coupon_id}
    </select>

    <insert id="insert" parameterType="com.midasit.challenge.web.coupon.domain.Coupon" >
        INSERT INTO coupon( coupon_id, name, start_date, end_date, discount)
         VALUES
         (#{coupon_id}, #{name}, #{start_date}, #{end_date}, #{discount})
        <selectKey keyProperty="coupon_id" resultType="Integer">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.midasit.challenge.web.coupon.domain.Coupon" >
        UPDATE  coupon
        SET coupon_id=#{coupon_id}, name=#{name}, start_date=#{start_date}, end_date=#{end_date}, discount=#{discount}
        WHERE coupon_id=#{coupon_id}
    </update>

</mapper>